---
import Layout from '../../layouts/Layout.astro';
import CourseHeader from '../../components/course/CourseHeader.astro';
import CourseHero from '../../components/course/CourseHero.astro';
import CourseFeatures from '../../components/course/CourseFeatures.astro';
import CourseCurriculum from '../../components/course/CourseCurriculum.astro';
import CoursePricing from '../../components/course/CoursePricing.astro';
import CourseRegister from '../../components/course/CourseRegister.astro';
---

<Layout title="AI x 數碼營銷實戰攻略：4天解鎖中小企增長引擎！">
  <CourseHeader />
  <main class="container mx-auto px-4 py-8">
    <CourseHero />
    <CourseFeatures />
    <CourseCurriculum />
    <CoursePricing />
    <CourseRegister />
  </main>
</Layout>